<% content_for :title, "Editing monthly summary" %>

<h1>Editing monthly summary</h1>

<%= render "form", monthly_summary: @monthly_summary %>

<br>

<div>
  <%= link_to "Show this monthly summary", @monthly_summary %> |
  <%= link_to "Back to monthly summaries", monthly_summaries_path %>
</div>
