<% theme = local_assigns[:pagination_theme] || 'light' %>

<li class="page-item <%= theme %>-page-item">
  <%= link_to_unless current_page.last?,
        raw(t('views.pagination.next')),
        url,
        rel: 'next',
        remote: remote,
        class: 'page-link theme-page-link' %>
</li>
