<% theme = local_assigns[:pagination_theme] || 'light' %>

<li class="page-item <%= theme %>-page-item">
  <%= link_to_unless current_page.first?,
        raw(t('views.pagination.previous')),
        url,
        rel: 'prev',
        remote: remote,
        class: 'page-link #{theme}-page-link' %>
</li>