/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

@import "bootstrap";



#navbarContainer {
  background-color: #0d1b2a; /* azul escuro */
}

#mainNavbar {
  width: 100%;
  background-color: #0D6EFD; /* azul escuro */
}

.sidebar {
  width: 240px;
  height: calc(100vh - 56px);
  overflow-y: auto; /* evita quebrar a tela */
}


#sidebarMenu {
  background-color: #161B2E; /* azul escuro */
}

.sidebar .nav-link {
  color: #ffffff;
  border-radius: 8px;
  padding: 8px 12px;
  width: 100%;
}

.sidebar .nav-link:hover {
  background-color: #4dabf7; /* azul claro */
  color: #0d1b2a;
}

.nav-link.active {
  background-color: #4dabf7; 
  color: #fff;
  border-radius: 8px;
}



// Main Content

#mainContent {
  background-color: #111525; /* azul bem escuro */
  color: #ffffff;
  
  width: 100%;
}

.card {
  background-color: #161B2E;
  color: white;
}


#graficos {
  position: relative;
  top: 70px;
}

.progress {
  background-color: #111525;
}






/* Tables style */
.table-responsive table th {
  background-color: #0D1B2A;
  color: #ADB5BD;
}

.table-responsive table {
  border: 1px solid #1F2A44;
}




/* pagination styles */

/* Botões normais */
.pagination .page-link {
  background-color: #161B2E;
  color: #ffffff;
  border: 1px solid #1f2642;
}

/* Hover */
.pagination .page-link:hover {
  background-color: #1f2642;
  color: #ffffff;
}

/* 🔥 Botão clicado / página atual */
.pagination .page-item.active .page-link {
  background-color: #0D6EFD;
  border-color: #0D6EFD;
  color: #ffffff;
}

/* Remove branco do container */
.pagination {
  background-color: transparent;
}





/* conteudo principal da pagina feature */

#content-diretor {
  background-color: #0d1b2a; /* azul escuro */
  display: flex;
  align-items: center;
  justify-content: center;
}

#container-feature {
  width: 93%;
  height: 93%;
}

#div-title {
  padding: 20px;
}

#container-feature hr {
  border-color: rgb(128, 128, 128);
}




/* grafico linear */

.line-chart-wrapper {
  height: 360px;
  background-color: #0d1b2a;
  border-radius: 12px;
  padding: 12px;
}

.card-body {
  width: 50%;
}

#div-text-legend {
  display: grid;
  flex-direction: column;
}

.text-legend {
  color: #ADB5BD;
}
