/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

@import "bootstrap";



#navbarContainer {
  background-color: #0d1b2a; /* azul escuro */
}

#mainNavbar {
  width: 100%;
  background-color: #0D6EFD; /* azul escuro */
}

.sidebar {
  width: 240px;
  height: calc(100vh - 56px);
  overflow-y: auto; /* evita quebrar a tela */
}


#sidebarMenu {
  background-color: #0d1b2a; /* azul escuro */
}

.sidebar .nav-link {
  color: #ffffff;
  border-radius: 8px;
  padding: 8px 12px;
  width: 100%;
}

.sidebar .nav-link:hover {
  background-color: #4dabf7; /* azul claro */
  color: #0d1b2a;
}

#graficos {
  position: relative;
  top: 70px;
}