<main class="p-4 flex-grow-1" id="mainContent">

  <% if notice.present? %>
    <div class="alert alert-success">
      <%= notice %>
    </div>
  <% end %>

  <%= render 'main_section', accounts: @accounts %>
</main>